server:
  port: 8081  # Employee Service는 8081번 포트 사용

spring:
  application:
    name: employee-service

  datasource:
    url: jdbc:mysql://localhost:3306/erp_db?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: user           # docker-compose에서 설정한 유저
    password: password       # docker-compose에서 설정한 비번
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true